/* Estilos para tabelas */
body {
    font-family: 'Century Gothic', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.estilo-tabela {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    min-width: 600px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 80%;
    background-color: #fff;
}

.estilo-tabela thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.estilo-tabela th, .estilo-tabela td {
    padding: 12px 15px;
}

.estilo-tabela tbody tr {
    border-bottom: 1px solid #dddddd;
}

.estilo-tabela tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.estilo-tabela tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.estilo-tabela tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

a {
    text-decoration: none;
    color: #009879;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
